<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- mapper는 파일이 여러개일 수 있음 이를 구분하기 위해 namespace 작성
  namespace는 mapper 있는 경로 그대로 작성 -->
  <mapper namespace="com.smhrd.myapp.mapper.MemberMapper">
  	<select id="memberList" resultType="com.smhrd.myapp.domain.Member">
  		select * from member;
  	</select>
  </mapper>